<div class="modal fade insertModal" tabindex="-1" role="dialog" aria-hidden="true" id="insertModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form id="insert">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">{{ var.lang.admin.4  }}</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group col-md-12 req">
                        <label class="control-label col-md-3 col-sm-3" for="insert-firstName">{{ var.lang.nameSurname  }} <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6">
                            <input type="text" id="insert-firstName" name="nameSurname" required="required" class="form-control col-md-7 col-xs-12">
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <label class="control-label col-md-3 col-sm-3" for="insert-birthday">{{  var.lang.birthday  }}</label>
                        <div class="col-md-6 col-sm-6">
                            <input type="date" id="insert-birthday" name="birthday" class="form-control col-md-7 col-xs-12">
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <label class="control-label col-md-3 col-sm-3" for="insert-mobil">{{  var.lang.mobile_no  }}</label>
                        <div class="col-md-6 col-sm-6">
                            <input type="text" id="insert-mobil"  name="mobil" class="form-control col-md-7 col-xs-12">
                        </div>
                    </div>
                    <div class="form-group col-md-12 req">
                        <label class="control-label col-md-3 col-sm-3" for="insert-email"> {{  var.lang.email  }}<span class="required">*</span></label>
                        <div class="col-md-6 col-sm-6">
                            <input type="text" id="insert-email"  name="email" required="required" class="form-control col-md-7 col-xs-12">
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <label class="control-label col-md-3 col-sm-3" for="insert-address">{{  var.lang.address  }}</label>
                        <div class="col-md-6 col-sm-6">
                            <input type="text" id="insert-address" name="address" class="form-control col-md-7 col-xs-12">
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <label class="control-label col-md-3 col-sm-3" for="insert-job">{{  var.lang.job  }}</label>
                        <div class="col-md-6 col-sm-6">
                            <input type="text" id="insert-job" name="job" class="form-control col-md-7 col-xs-12">
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <label class="control-label col-md-3 col-sm-3" for="insert-website">{{  var.lang.website  }}
                        </label>
                        <div class="col-md-6 col-sm-6">
                            <input type="url" id="insert-website" name="website" class="form-control col-md-7 col-xs-12">
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="modal-body">
                    <div class="form-group col-md-12 req">
                        <label class="control-label col-md-3 col-sm-3" for="insert-username">{{  var.lang.username  }}
                        </label>
                        <div class="col-md-6 col-sm-6">
                            <input type="text" id="insert-username" name="username" required onkeyup="user('insert')" class="form-control col-md-7 col-xs-12">
                        </div>
                    </div>
                    <div class="form-group col-md-12 req">
                        <label class="control-label col-md-3 col-sm-3" for="insert-password">{{  var.lang.password  }}
                        </label>
                        <div class="col-md-6 col-sm-6">
                            <input type="password" id="insert-password" name="password" required  class="form-control col-md-7 col-xs-12">
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <label class="control-label col-md-3 col-sm-3" for="insert-password_repeat">{{ var.lang.new_password_repeat  }}
                        </label>
                        <div class="col-md-6 col-sm-6">
                            <input type="password" id="insert-password_repeat" required  class="form-control col-md-7 col-xs-12">
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <label class="control-label col-md-3 col-sm-3" for="group_id">{{ var.lang.member_group  }}
                        </label>
                        <div class="col-md-6 col-sm-6">
                            <select class="form-control" id="insert-group_id" name="group" required>
                            </select>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="modal-footer insert">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" name="insert" id="btn-insert">{{ var.lang.admin.2  }}</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>

</script>