<script type="text/javascript">
    var height_flexi = $('.right_col').height();

    $("#flex1").flexigrid
    (
        {
            url: '/{{ var.locale }}/api/ModUser/list',
            dataType : 'json',
            pagesText: '{{ var.lang.grid.35 }}',
            pagestat :  '{{ var.lang.grid.1 }}',
            colModel : [
                {display: 'ID', name : 'id', width : 40, sortable : true, align: 'center'},
                {display: '{{ var.lang.grid.35 }}', name : 'nameSurname', width : 180, sortable : true, align: 'left'},
                {display: '{{ var.lang.grid.9 }}', name : 'email', width : 120, sortable : true, align: 'left'},
                {display: '{{ var.lang.grid.34 }}', name : 'status', width : 90, sortable : true, align: 'center'},
                {display: '{{ var.lang.grid.8 }}', name : 'username', width : 130, sortable : true, align: 'left'}
            ],
            buttons : [
                {name: '{{ var.lang.grid.10 }}', bclass: 'add', onpress : test},
                {name: '{{ var.lang.grid.11 }}', bclass: 'edit', onpress : test},
                {name: '{{ var.lang.grid.13 }}', bclass: 'delete', onpress : test},
                {name: '{{ var.lang.grid.23 }}', bclass: 'add', onpress : test},
                {name: '{{ var.lang.grid.24 }}', bclass: 'delete', onpress : test},
                {separator: true}
            ],
            searchitems : [
                {display: 'ID', name : 'id'},
                {display: '{{ var.lang.grid.35}}', name : 'nameSurname', isdefault: true},
                {display: '{{ var.lang.grid.8 }}', name : 'username', isdefault: true}
            ],
            sortname: "id",
            sortorder: "desc",
            usepager: true,
            title: '{{ var.title }}',
            useRp: true,
            rp: 10,
            showTableToggleBtn: true,
            width: '100%',
            height: 265
        }
    );

    function test(com,grid) {
        /** Insert If**/
        if (com=='{{ var.lang.grid.10 }}')/** Add If**/{
            $.get( "/{{ var.locale }}/api/ModUser/get_group", function( data ) {
                $("#insert-group_id").html("<option value='0'>{{ var.lang.member_group }}</option>");
                $.each( data, function( key, value ) {
                    $("#insert-group_id").append("<option value='"+value.id +"'>"+value.name +"</option>");
                });
            });
            $(".insertModal").modal('show');
            var inputList = $(".insertModal").find('input');
            for(var i = 0; i < inputList.length; i++) {
              $(inputList[i]).val('');
            }
        }
        else if (com == '{{ var.lang.grid.11 }}'){
            if ($('.trSelected', grid).length == 1){
                var id = '';
                id +='&id[]='+$('.trSelected:first',grid).attr('id').replace(/row/i,'');
                $.ajax({
                        type: "POST",
                        url: "/{{ var.locale }}/api/ModUser/forEditUser",
                        data: id,
                        dataType:'json',
                        success: function (msg) {
                            if(msg === "not.roll"){
                                toastr["error"]("{{ var.lang.hata.12 }}");
                            }else if(msg === 'null'){
                                toastr["error"]("{{ var.lang.hata.12 }}");
                            } else{
                                var date = msg[0].birthday.date;
                                date = date.split(' ');
                                $.get( "/{{ var.locale }}/api/ModUser/get_group", function( data ) {
                                    $("#insert-group_id").html("<option value='0'>{{ var.lang.member_group }}</option>");
                                    $.each( data, function( key, value ) {
                                        console.warn(msg[0].groupId);
                                        if(value.id == msg[0].groupId){
                                            $("#edit-group_id").append("<option value='"+value.id +"' selected>"+value.name +"</option>");
                                        }else{
                                            $("#edit-group_id").append("<option value='"+value.id +"'>"+value.name +"</option>");
                                        }
                                    });
                                });
                                $('#nameSurname').val(msg[0].nameSurname);
                                $('#userId').val(msg[0].id);
                                $('#birthday').val(date[0]);
                                $('#mobil').val(msg[0].mobil);
                                $('#email').val(msg[0].email);
                                $('#address').val(msg[0].address);
                                $('#job').val(msg[0].job);
                                $('#website').val(msg[0].website);
                                $(".editModal").modal('show');
                            }
                        }
                    });
            }else{
                toastr["error"]("{{ var.lang.grid.15 }}")
            }
        }
        else if (com=='{{ var.lang.grid.13 }}')/** Delete If**/{
            confirm('Delete ' + $('.trSelected',grid).length + ' items?')
        }

    }
    function user(event) {
        var username = '';
        username +='&username[]='+$('.'+event+'Modal #insert-username').val();
        if($('.'+event+'Modal #insert-username').val().length == 0) {
            $('.' + event + 'Modal #username').css('border', '1px solid red');
        }else{
            $.ajax({
                    type: "POST",
                    url: "/{{ var.locale }}/api/ModUser/check_user",
                    data: username,
                    success: function (msg) {

                        if (msg == 'true') {
                            $('.' + event + 'Modal #insert-username').css('border', '1px solid green');
                        } else {
                            $('.' + event + 'Modal #insert-username').css('border', '1px solid red');
                        }
                    }
                }
            );
        }
    }
    var status = 'false';

    $( "#insert" ).submit(function( event ) {
        function getUser(st) {
            return $.ajax({
                    type: "POST",
                    url: "/{{ var.locale }}/api/ModUser/check_user",
                    data: st
                }
            );
        }
        event.preventDefault();
        status = 'false';
        var data = {};
        var inputList = $(this).find('input');
        var  inputStatus, passwordStatus, usernameStatus;

        for(var i = 0; i < inputList.length; i++) {
            if(!$(inputList[i]).attr('name')) {
                continue;
            }
            var value = $(inputList[i]).val();
            if(value.trim() == null || value.trim() == '' && (
                    $(inputList[i]).attr('name') == 'nameSurname' ||
                    $(inputList[i]).attr('name') == 'email' ||
                    $(inputList[i]).attr('name') == 'username'  ||
                    $(inputList[i]).attr('name') == 'password' )){
                $(inputList[i]).css('border', '1px solid red');
                toastr["error"]("{{ var.lang.hata.33 }}");
                status = 'true';
            }else {
                data[$(inputList[i]).attr('name')] = $(inputList[i]).val();
            }
        }
        data.group = $('.insertModal #insert-group_id').val();
        var pass = $('#insert-password').val(), passR =$('#insert-password_repeat').val();
        if(pass.trim() != passR.trim()){
            toastr["error"]("{{ var.lang.hata.16 }}");
            status = 'true';
        }
        var username = '';
        username +='&username[]='+data.username;
        console.log(data.group);
        if(data.group == 0){
            toastr["error"]("{{ var.lang.hata.33 }}");
            $('.insertModal #insert-group_id').css('border', '1px solid red');
            status = 'true';
        }
        getUser(username).done(function (response) {
            var getUser = response;
            if(getUser !== 'true'){
                toastr["error"]("{{ var.lang.hata.5 }}");
                status = 'true';
            }
            if (status !== 'true') {
                $.ajax({
                        type: "POST",
                        url: "/{{ var.locale }}/api/ModUser/insert_user",
                        data: data,
                        success: function (msg) {
                            if(msg === 'success.insert'){
                                toastr["success"]("{{ var.lang.genel.tr.2 }}");
                                $('.insertModal').modal('hide');
                                $('#flex1').flexReload();
                            }else if(msg === "not.roll"){
                                toastr["error"]("{{ var.lang.hata.12 }}");
                            }else if(msg === 'not.username'){
                                toastr["error"]("{{ var.lang.hata.5 }}");
                            }else{
                                toastr["error"]("{{ var.lang.genel.tr.1 }}");
                            }

                        }
                    }
                );
            }
        });
    })
    toastr.options = {
        "closeButton": false,
        "debug": false,
        "newestOnTop": false,
        "progressBar": false,
        "positionClass": "toast-top-right",
        "preventDuplicates": false,
        "onclick": null,
        "showDuration": "300",
        "hideDuration": "1000",
        "timeOut": "5000",
        "extendedTimeOut": "1000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
    }
</script>